#about-phone {
          margin: 20px;
          padding: 20px;
         
          
          /* border-radius: 10px; */
         }
         .phone-img{
          height:400px;
  
  
         }

        .card{

          border: 5px   ;
          border-radius: 10px;
           
        }

        #spinner{

          display: none;
          animation-delay: 2s;
      }